/* ================================= */
.container__list{
	margin: 20px 0 30px;
}
.notification__list {
	padding: 0 20px;
	display: flex;
}
.notification__item {
	margin-right: 15px;
}
.notification__item:last-child {
	margin-right: 0px;
}
.notification__link{
	display: inline-block;
}
.link__container {
	border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 7px;
}
.link__container.all {
	padding: 20px;
	border: 1px solid var(--pink);
}

.all-icon {
	width: 18px;
	height: 18px;
	color: var(--pink);
}
.notification__name{
	font-size: 14px;
	font-family: "Bellota", sans-serif;
	text-align: center;
}
.calendar__panel{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.calendar__icon{
	width: 22px;
	height: 22px;
	color: var(--col_text);
}
.calendar__title{
	font-size: 20px;
	margin: 0 10px 0 15px;
}
.arrow__icon{
	width: 16px;
	height: 9px;
	color: var(--col_text);
}

.calendar__list-header{
	display: flex;
	justify-content: space-between;
	background-color: var(--pink);
	padding: 15px 19px 10px 19px;
	border-radius: 10px 10px 0 0;
	color: var(--white_text);
	margin-bottom: 3px;
}
.calendar__list-header span,
.popup__list-header span{
	font-size: 14px;
	font-family: "Bellota", sans-serif;
	text-transform: uppercase;
}

.calendar__list-main{
	padding: 22px 22px 38px 22px;
	background-color: var(--pink);
	border-radius: 0 0 10px 10px;
}

.popup-overlay.active{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 5;
}

.popup__panel{
	background-color: var(--green);
	padding: 36px 20px 20px 20px;
	border-radius: 10px 10px 0 0;
}
.popup__title{
	color: var(--white_text);
}
.popup__list{
	background-color: var(--pink);
	border-radius: 0 0 10px 10px;
	padding: 0 20px 25px 20px;
}

.popup__nav-header {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.popup__nav-title {
	font-size: 18px;
	color: var(--white_text);
}
.popup__nav {
	margin-right: 2px;
}
.popup__nav-btn {
	
	padding: 20px 15px 20px 0;
}
.prev {
	margin-right: 10px;
}
.next {
	transform: scaleX(-1);
}
.popup__list-header{
	display: flex;
	justify-content: space-between;
	color: var(--white_text);
	margin-bottom: 5px;
	padding: 10px 0 20px 0;
}
.popup-footer{
	display: flex;
	justify-content: flex-end;
}
.popup-btn{
	font-size: 18px;
}
.cancel{
	margin-right: 40px;
	color: var(--lwhite_text);
}
.apply{
	color: var(--white_text);
}