@use "sass:map";
@use "../importer" as *;

.flower__page {
  .flower {
    &__intro-video {
      @include position(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0);
      @include size(100%, 100%);
      @include min-height();
      overflow: hidden;
      & video {
        @include size(100%, 100%);
        @include position(absolute, $top: 50%, $left: 50%, $z-index: 1);
        background-color: #000000;
        transform: translate(-50%, -50%);
        object-fit: cover;
        filter: brightness(30%);
      }
    }
    &__intro-content {
      @include position(relative, $z-index: 2);
      @include min-height();
      @include d-flex(space-between, normal, $direction: column);
      height: 100%;
    }
    &__intro-header {
      @include d-flex(space-between, center);
    }
    &__intro-prev {
      padding: 30px 30px 30px 25px;
    }
    &__intro-name {
      text-transform: uppercase;
    }
    &__intro-list {
      background: linear-gradient(360deg, black, transparent);
      & span {
        @include size(calc(100% - 34px), 2px);
        background-color: #fff;
        border-radius: 3px;
        margin: 0 auto 20px;
      }
    }
    &__intro-desc {
      font-family: map.get($font-family, secondary);
      line-height: 1.3;
    }
    &__buttons {
      @include d-flex(space-between, center);
      @include m-width(calc(100% - 54px));
      padding-bottom: 55px;
    }
    &__buttons-links {
      @include d-flex(normal, flex-start);
    }
    &__btn-more {
      @include theme-colors($bg: primary);
      font-family: map.get($font-family, secondary);
      border-radius: 10px;
      padding: 8px 15px;
    }
    &__buttons-fav.active .favorite-icon {
      @include theme-colors($color: primary);
    }
  }

  .favorite-icon {
    @include size(24px, 21px);
    @include theme-colors($color: text_white);
  }
}
