@font-face {
  font-family: 'Bellota';
  src: url('../../assets/fonts/Bellota-Bold.woff2') format('woff2'),
       url('../../assets/fonts/Bellota-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
};

@font-face {
  font-family: 'Balsamiq Sans';
  src: url('../../assets/fonts/BalsamiqSans-Bold.woff2') format('woff2'),
       url('../../assets/fonts/BalsamiqSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
