@use "sass:map";
@use "../abstracts/variables" as variab;
@use "../abstracts/mixins" as mix;

.settings__btn {
  margin: 20px 20px 25px 20px;
}

.settings__wrapper {
  @include mix.position(absolute, $top: 0, $left: 0, $z-index: 502);
  @include mix.min-height();
  @include mix.size(100dvw, 100%);
  @include mix.theme-colors($bg: bg);
  transform: translateX(-100%);
  transition: 0.3s;
}
.settings {
  &__btn-close {
    @include mix.size(26px, 26px);
    @include mix.d-flex(center, normal, $direction: column);
    margin: 20px 20px 25px;
    @media (max-width: 365px) {
      margin: 20px 20px 25px 10px;
    }
    span {
      @include mix.theme-colors($bg: decor_text);
      @include mix.size(26px, 2px);
      border-radius: 3px;
      transform: rotate(45deg);
      &::after {
		@include mix.after(26px, 2px, $bg: decor_text, $rotate: 90deg);
        border-radius: 3px;
      }
    }
  }
  &__title {
    @include mix.theme-colors($color: primary);
  }
  &__item {
    h3,
    a {
      cursor: pointer;
    }
  }
  &__item-content{
	@include mix.d-flex(normal, flex-end);
	& .theme__current{
		margin-left: 10px;
		@include mix.theme-colors($color: primary);
	}
  }
  &__item-content.size {
    @include mix.d-flex(normal, center);
    h3 {
      margin-right: 32px;
      cursor: inherit;
    }
  }
  &__size {
    @include mix.size(120px, 8px);
    @include mix.d-flex(space-between, center);
	@include mix.theme-colors($bg: decor_text);
    border-radius: 5px;
    .active {
		@include mix.theme-colors($bg: primary);
    }
    span {
      @include mix.size(18px, 18px);
      @include mix.d-flex(space-between, center);
	  @include mix.theme-colors($bg: decor_text);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.theme {
  &__container {
	@include mix.theme-colors($bg: primary);
	@include mix.theme-colors($color: text_white);
    @include mix.position(fixed, $right: 0, $bottom: 0, $left: 0, $z-index: 2);
    transform: translateY(100%);
    transition: 0.3s;
    border-radius: 20px 20px 0 0;
    padding: 40px 20px 60px;
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
  }
}
.overlay {
  @include mix.position(fixed, $top: 0, $left: 0, $z-index: 1);
  @include mix.size(100%, 100%);
  background-color: rgba(0, 0, 0, 0.5);
}
