@use "sass:map";
@use "../abstracts/variables" as variab;

@mixin theme-colors($color: null, $bg: null) {
  @if $color {
    color: var(--col_#{$color});
  }
  @if $bg {
    background-color: var(--col_#{$bg});
  }
}
@mixin border($radius, $width: null, $style: null, $color: null) {
  border-radius: $radius;
  @if $width {
    border-width: $width;
  }
  @if $style {
    border-style: $style;
  }
  @if $color {
    border-color: var(--col_#{$color});
  }
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin d-flex($justify, $align, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $direction {
    flex-direction: $direction;
  }
}
@mixin d-inflex($justify, $align) {
  display: inline-flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin position( $position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  position: $position;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $z-index {
    z-index: $z-index;
  }
}
@mixin m-width($max-width) {
  margin: 0 auto;
  max-width: $max-width;
}

@mixin min-height($height-vh: 100vh, $height-dvh: 100dvh) {
  min-height: $height-vh;
  min-height: $height-dvh;
}
@mixin after($width, $height, $color: null, $bg: null, $rotate: null) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  @if $color {
    color: var(--col_#{$color});
  }
  @if $bg {
    background-color: var(--col_#{$bg});
  }
  @if $rotate {
    transform: rotate($rotate);
  }
  
}